# Build outputs
/dist
/dist-ssr
/build
.nitro

# Dependencies
/node_modules

# Environment & local config
.env
.env*.local
*.local

# Logs & debug
npm-debug.log*

# Security keys
*.pem

# Misc
.DS_Store
count.txt
*.tsbuildinfo

# Deployment platform
.vercel

# Framework-specific
.tanstack
CLAUDE.md
.claude
.serena

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# ESLint cache
.eslintcache